<div class="wrapper">

  <div class="sidebar">

    <h1>{{title}}</h1>

    <p class="intro">What the graph means:</p>
    <p class="details">Values close to 100 show strong influence, values close to -100 show strong negative influence.</p>
    <p class="details"><em><span>Review score: 100</span> means those visitors ALWAYS book the property with the highest review score</em></p>
    <p class="details"><em><span>Review score: -100</span> means those visitors NEVER book the property with the highest review score</em></p>

    <div class="">
      <button id="addData" class="btn">Add data</button>
      <button id="removeData" class="btn">Remove data</button>
    </div>
    <!-- <p class="data_output">basic json stuff</p> -->

  </div>

  <div class="graph">
    <div class="graph__render">
      <canvas id="canvas" width="400" height="400"></canvas>
    </div>
  </div>

</div>
